@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #FFF3E1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins';
    margin: 0;
}

h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 4.5rem;
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.5rem;
}

.input-container{
    border: 0.25rem black solid;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    background-color: #F6F1EF;
}

input{
    font-size: 1rem;
    text-align: center;
    border: 0.05rem black solid;
    border-radius: 0.5rem;
    background: #F6F1D1;
}

button{
    font-size: 1rem;
    border: 0.05rem black solid;
    border-radius: 0.5rem; 
    font-family: 'Poppins';
    background: #F6F1D1;
    cursor: pointer;
    margin: 0.5rem;
}

button:hover{
    border-color: #C78C19;
}

button:active{
    border-color: #088C19;

}

@media screen and (max-width: 480px){
    .countdown-container{
        display: inline;
    }

    .input-container{
        justify-content: center;
        text-align: center;
        font-size: 0.5rem;
        padding: 1rem;
        padding-top: 1.5rem;
    }

    input, button{
        font-size: 1.5rem;
    }
}